body { background-color: aliceblue;}

a:link {
    color: red;
  }
  /* visited link */
  a:visited {
    color: green;
  }
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  /* selected link */
  a:active {
    color: rgb(11, 11, 58);
  }

.container{
    min-height: 650px;
    display: grid;
   /* grid-template-columns: 70% auto;
    grid-template-rows: 10% 60% ;
    /*grid-template-rows: auto auto auto ;
    /*justify-content: stretch;/* start - center - end
    width: 80%;
    margin: 0 auto;
    padding: 20px; */
    grid-template-areas: /* Primer fila se pone 2 veces xq quiero 2 columnas*/
                          'menu menu'
                          'contenido lateral' 
                          'mascontenido mascontenido'
                          'pie pie' ;
                          grid-auto-rows: 10% auto auto 15%;
    background-color: bisque;
}

.caja {
    
    border: 2px solid red;
    background-color: aquamarine;
    
    text-align: center;
    /*line-height: 150px;*/
}
.c1{
    grid-area: menu;
   /* grid-column: 1/ span 2;*/
     background-color: aquamarine;
}
.c2{
    grid-area: contenido;
}
.c3{
    grid-area: lateral;
}
.c4{
    grid-area: mascontenido;
   /* grid-column: 1/ span 2;*/
    background-color: aqua;
}
.c5{
    grid-area: pie;
    background-color: azure;
    /*grid-column: 1/ span 2;*/
}