*{ /* Todo el Documento*/
  color: beige;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
body {
  background: rgb(31, 35, 54) url("src/lineas.svg") no-repeat fixed center;
background-size: 100%;
}

ul {
  display: flex;
  
}
ul li{
  list-style: none;
  margin: 0 auto;
  padding: 0px;
  font-size: small;
  margin-left: 20px;
}
h1{
  padding: 0;
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:50px;
}


#container{
  

width: 100%;
min-height: 100vh;
display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    'menu'
    'contenido'
    'lateral'
    'mas'
    'pie';
    grid-auto-rows: auto auto auto auto auto;
}
 

  /*.maq{
    border: 1px solid rgba(0, 255, 183, 0.34);
  }*/
.container{
  margin: 0 auto;
 
  
}
.burbujas{
  width: 80px;
  height: 80px;
  background: rgb(247, 247, 247);
  border-radius: 50%;
  opacity: .3 ;
  position: absolute;
  bottom: 0;
  left: 5%;
  animation: burbujas 3s linear infinite;
}
.burbujas:nth-child(1){
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
}

.burbujas:nth-child(2){
  width: 200px;
  height: 200px;
  left: 60%;
  animation-duration: 8s;
}

@keyframes burbujas {
  0%{
    bottom: 0;
    opacity: 0;
  }
  50%{
    opacity: .4;
  }
  100%{
    bottom: 100vh;
    opacity: 0;
  }

}
.cabecera {
  grid-area: menu;
  font-size: xx-large;
  padding: 5px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  }

.contenido{  
  display: flex;
  flex-direction: column ;
  justify-content: center;

  
  grid-area: contenido;
}

.subtitulo{
  margin: 0;
  color: burlywood;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:xx-large;
}
.detalle{
  margin: 0;
  margin-top: 20px;
}
.h1{
  margin: 0 ;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size:600%;
  line-height: 0.75;
}

.lateral{
  display: flex;
  flex-flow: column wrap;
  justify-content:end;
  align-items: center;
  
  
  grid-area: lateral;
}
.lateral img{
  width: 320px;
  height: 600px;
}
.hr{border-color: rgb(188, 188, 188);
  
  background-color: brown;
  color: blue;
}
.mas{

  grid-area: mas;
  margin: 0 auto;
  width: 100%;
}
/*Contenido secundario*/
.contSecundario {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  
  background: #000;
}
.contSecundario nav{
  padding: 5px;
  display: flex;
  background: rgb(96, 54, 54);
  align-items: top;
  justify-content:space-around;  
}
.contSecundario article {
 padding: 20px;
 background: rgba(102, 98, 98, 0.447);
}
.contSecundario button {
  color: blueviolet;
  background: #000;
}
.visible{
  visibility: visible;
  
}
.invisible{
  display: none;
  
  
}

/* Pie */
.pie{
  grid-area: pie;
  margin: 0 auto;
}



 /* pantallas Mayores a 800 
    parece q solo x #id por .class no anda */
    @media screen and (min-width: 800px) {
      #container{
        width: 100%;
        min-height: 100vh;
        display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: 
      'menu menu'
      'contenido lateral'
      'mas mas'
      'pie pie';
      grid-auto-rows: auto 80% auto auto;
      }
      
    }
     /* pantallas Mayores a 1080 
      parece q solo x #id por .class no anda */
      @media screen and (min-width: 1080px) {
        #container{
          width: 70%;
          min-height: 100vh;
          display: grid;
      grid-template-columns: 50% auto;
      grid-template-areas: 
        'menu menu'
        'contenido lateral'
        'mas mas'
        'pie pie';
        grid-auto-rows: auto 80% auto auto;
        }
        
      }