header {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid white;
}

body {
    background-color: rgb(104, 78, 255);
    color: white;
}

footer {
    background-color: black;
    height: 44px;
    padding: 5px;
    border: 1px solid white;
    text-align: center;
    line-height: 44px;
    margin-top: 5px;
}

a:link {
    color: red;
}
  /* visited link */
  a:visited {
    color: white;
}
  /* mouse over link */
  a:hover {
    color: hotpink;
}
  /* selected link */
  a:active {
    color: rgb(11, 11, 58);
}

li {
    padding: 5px;
}

p {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    height: 624px;
}

.flex-logo {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 20%;
    padding: 5px;
    border: 1px solid white;
}

.flex-menu {
    list-style: none;
    display: flex;
    width: 60%;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    padding: 5px;
    border: 1px solid white;
}

.flex-menu h1 {
    font-size: 44px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-menu ul {
    font-size: large;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 5px;
    border: 1px solid white;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    min-width: 372px;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: stretch;
    border: 1px solid white;
    background: rgb(214, 13, 164);
    padding: 5px;
}

.flex-box h1 {
    font-size: 96px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-box .caja {
    width: auto;
    height: auto;
    border: 1px solid rgb(8, 143, 136);
    text-align: left;
    margin: 2px;
    padding: 10px;
}